*{
    margin: 0;
    padding: 0;
}
.sharedText-color{
  color: #FF5400;
}
nav {
    max-width: 71.88rem;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 20px;
}
.logo{
    display: flex;
    align-items: center;
}
.website{
    color: #131318;
font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.website-color{
    color: #FF5400;
font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.menu{
    display:flex;
    align-items: center;
    gap: 44px;
    color: var(--Dark-02, #424247);
text-align: center;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;

    
}
.menu li{
    list-style-type: none;
}
.banner-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 71.88rem;
    height: 83vh;
    margin-top: 3.75rem;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}
.banner-content {
    display: flex;
    flex-direction: column ;
    text-align: center;
    align-items: center;
    justify-content: center;
   
    
    margin: 6.63rem auto;
    /* margin-top: -55px; */
    
}
.banner-content-head{
    color: #FFF;
font-family: Mulish;
font-size: 58px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 1.5rem;
}
.banner-content-description{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.banner-input-container{
    display: inline-flex;
   

padding:16px 30px;
align-items: center;
justify-content: center;
width: 70%;
margin: 0 auto;
margin-top: -3rem;
gap: 24px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
}
.input-container-1stInput{
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
border: none;
padding-left: 16px;
}

.select-btn{
    width: 194px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
border: none;
display: inline-flex;
align-items: center;
justify-content: space-between;
padding: 0 16px;
color: rgba(19, 19, 24, 0.50);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.arrow{
    width: 24px;
height: 24px;
/* transform: rotate(deg); */
flex-shrink: 0;

}
.banner-container-btn{
    width: 194px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
border: none;
display: inline-flex;
align-items: center;
gap: 1.2rem;
padding: 0 0 0 2rem;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;


}

/* popular-tour-section */
.popular-tour-container {
    display: flex;
    max-width: 71.88rem;
    margin: 0 auto;
    margin-top: 6.25rem;
    gap: 53px;
}
.tour-content-head{
    color: #131318;
   
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 1.6rem;
}
.tour-description{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 1.6rem;
}
.tour-list{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-left: 1.5rem;
    margin-bottom: 1.6rem;
    
}
.tour-description2{
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-bottom: 2rem;
}
.popular-content-btn{
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
border: none;
background: #FF5400;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
cursor: pointer;
transition: all 1s ease-out;
}
.popular-content-btn:hover{
    background: #FFF;
    color: #FF5400;
    border: 1px solid #FF5400;

}
.tour-img-one{
    height: 80vh;
}

/*--------responsive-----------*/

@media screen and (max-width:576px) {
    .menu{
        display:none;
    }
    nav{
        padding: 0 1rem;
    }
    .banner-container{
        width: 90%;
        height: 91vh;
        background-position: center;
        background-size: cover;
        padding: 0 16px;
        
    }
    .banner-content-head{
        color: #FFF;
font-family: Mulish;
font-size: 35px;
font-style: normal;
font-weight: 800;
line-height: normal;
    }
    .banner-content-description{
        color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 150% */
    }

    .banner-input-container{
        
width: 287px;
padding: 16px;
flex-direction: column;
/* align-items: flex-start; */
gap: 16px;
        
    }
    .banner-content{
        margin-top: 2rem;
    }
    .banner-content-head{
        margin-bottom: 10px;
    }
    .banner-input-container{
       margin-top: -4rem;
    }
    .input-container-1stInput{
        width: 255px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
    }
    .select-btn{
        width: 275px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
    }
    .banner-container-btn{
        width: 275px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
justify-content: center;
padding: 0;
    }

    /*popular-content-start*/
    .popular-tour-container{
        flex-direction: column;
        padding: 0 16px;
        margin-top: 1.5rem;
    }
    .tour-content-head{
        color: #131318;

font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 1rem;
    }
    .tour-description{
        color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
margin-bottom: 1rem;
    }
    .tour-list{
        color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
margin-bottom: 1rem;
    }
    .tour-description2{
        color: #5A5A5D;
font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
margin-bottom: 24px;
    }
    .popular-content-btn{
        width: 174px;
height: 52px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
    }
    .tour-img-one{
        width: 100%;
        margin-top: -20px;
        height: 60vh;
    }
}